<div *ngIf="repos" class="container">
  <div class="card">
    <p-dataView #dv [value]="repos">
      <ng-template let-repo pTemplate="listItem">
        <div class="listItem">
          <div>
            <h1 class="text-2xl font-bold text-900">{{ repo.name }}</h1>
            <p-tag [value]="getPrivacyStatus(repo)"></p-tag>
          </div>
          <p>
            {{ repo.description }}
          </p>
          <div>
            <p pInputText pTooltip="Stars" tooltipPosition="bottom">
              <i class="pi pi-star"></i>
              <span>
                {{ repo.stargazers_count.toLocaleString() }}
              </span>
            </p>
            <p pInputText pTooltip="Forks" tooltipPosition="bottom">
              <i class="pi pi-clone"></i>
              <span>
                {{ repo.forks.toLocaleString() }}
              </span>
            </p>
            <a [routerLink]="['/contributors', repo.name]">View Contributors</a>
          </div>
        </div>
      </ng-template>
    </p-dataView>
  </div>
</div>

<app-loader *ngIf="!repos"></app-loader>
